@import "~normalize.css";
//@import '../../fonts/fonts.scss';
@import '../../fonts/fonts.css';

$mobile: 320px;
$tablet: 768px;
$desctop: 1440px;
$font-family: "TT Lakes", "Arial", sans-serif;

.page {
    margin: 0;
    background: #F8F8F8;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    @media (min-width: $desctop) {

        flex-direction: row;
    }

    &--state-blur {

        filter: blur(10px);
    }
}
