@import '../../blocks/page/page.scss';

$expand-font-size: 16px;
$font-color: #1B1C21;

.button-show {

    display: none;
    font-family: $font-family;
    font-size: $expand-font-size;
    color: $font-color;
    font-weight: 500;

    align-items: center;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;

    width: max-content;
    height: 24px;

    &:hover {

        cursor: pointer;
    
        font-weight: 700;
    }

    @media (min-width: $tablet) {

        display: inline-flex;
    }
}