@import "../page/page.scss";


$menu-height: 170px;
$menu-height--state-big: 300px;
$menu-height-tablet--state-big: 330px;
$menu-height-desctop--state-big: 250px;

$card-height: 72px;
$card-border: 1px solid #EAEAEA;
$card-color: #ffffff;

.brands {
    margin: 0;
    padding: 0;

    padding-bottom: 1px;

   // background-color: #F8F8F8;

    &__menu {
        margin: 0;
        padding: 20px 10px;
    
        display: none;
        flex-direction: column;
        flex-wrap: wrap;  
        height: $menu-height;
        align-content: space-evenly;
       
        gap: 20px;
    
        list-style: none;
        
        min-width: 0;

        &--state-big {

            height: $menu-height--state-big;

            @media (min-width: $tablet) {

                height: $menu-height-tablet--state-big;
            }

            @media (min-width: $desctop) {

                height: $menu-height-desctop--state-big;
            }
        }

        @media (min-width: $tablet) {
            display: flex;
            align-content: space-evenly;
        }

        @media (min-width: $desctop) {
            display: flex;
            align-content: space-evenly;
        }
    }

    &__card {
        display: flex;
        flex-wrap: nowrap;
    
        justify-content: space-between;
        align-items: center;
        
        padding: 10px 15px;
        
        width: 100%;
        min-width: min-content;
        
        max-height: $card-height;
        background-color: $card-color;
        border: $card-border;
        border-radius: 6px;

        &--state-768, &--state-1119 {
            
            @media (min-width: $tablet) {
            
                display: none;
            }
        }

        &--state-768 {

            @media (min-width: $desctop) {
                
                display: flex;
            }
        }

        &--state-1119 {

            @media (min-width: $desctop) {

                display: none;
            }
        }

        @media (min-width: $tablet) {

            width: 25%;
        }

        @media (min-width: $desctop) {
            width: 20%;
        }
    }

    &__link-image {
        margin-left: 15px;
    }

    &__button-show {
        
        margin-left: 20px;
        margin-bottom: 20px;

        @media (min-width: $tablet) {

            display: flex;
        }

        &__button-show {

            @media (min-width: $desctop) {
                
                display: flex;
            }
        }
    
    }

    &__link:hover {
        opacity: 0.4;
        transition-duration: 0.8s;
    }
    
}


