@import "../page/page.scss";

.brands {
    margin: 0;
    padding: 0;

    padding-bottom: 1px;

    background-color: #F8F8F8;

    &__header {
        margin: 0;
        padding: 15px 12px;
    
        font-family: "TT Lakes", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        vertical-align: middle;
        color: #7E7E82;
    
        background-image: linear-gradient(to right, #F8F8F8 0%, #ffffff 100%);
    }

    &__menu {
        margin: 0;
        padding: 20px 10px;
    
        display: none;
        flex-direction: column;
        flex-wrap: wrap;  
        height: 200px;
        align-content: space-evenly;
       
        gap: 20px;
    
        list-style: none;
        
        min-width: 0;

        &--state-big {

            height: 300px;

            @media (min-width: $tablet) {

                height: 400px;
            }

            @media (min-width: $desctop) {

                height: 300px;
            }
        }

        @media (min-width: $tablet) {
            display: flex;
            align-content: space-evenly;
        }

        @media (min-width: $desctop) {
            display: flex;
            align-content: space-evenly;
        }
    }

    &__card {
        display: flex;
        flex-wrap: nowrap;
    
        justify-content: space-between;
        align-items: center;
        
        padding: 10px 15px;
        
        width: 100%;
        min-width: min-content;
        
        max-height: 72px;
        background-color: #ffffff;
        border: 1px solid #EAEAEA;

        &--state-768, &--state-1119 {
            
            @media (min-width: $tablet) {
            
                display: none;
            }
        }

        &--state-768 {

            @media (min-width: $desctop) {
                
                display: flex;
            }
        }

        &--state-1119 {

            @media (min-width: $desctop) {

                display: none;
            }
        }

        @media (min-width: $tablet) {

            width: 25%;
        }

        @media (min-width: $desctop) {
            width: 20%;
        }
    }

    &__link-image {
        margin-left: 15px;
    }

    &__button-show {
        border: none;
        background-color: #F8F8F8;
        background-image: url('../../img/expand.svg');
        background-repeat: no-repeat;
    
        font-family: "TT Lakes", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: end;
    
        width: 133px;
        height: 24px;
    
        margin-left: 20px;
        margin-bottom: 20px;
    
        display: none;

        &--state-button-hide {
            background-image: url('../../img/expand-reverse.svg');
            width: 90px;
        }

        &:hover {

            cursor: pointer;
        
            font-weight: 700;
        }

        @media (min-width: $tablet) {

            display: block;
        }

        &__button-show {

            @media (min-width: $desctop) {
                
                display: block;
            }
        }
    
    }

    &__link:hover {
        opacity: 0.4;
        transition-duration: 0.8s;
    }

    &__slider {
        height: 135px;
        /*display: none;*/
         min-width: 0;

        @media (min-width: $tablet) {
            display: none;
        }
    }
    
}

.swiper-slide {
    padding: 20px 10px;
    min-width: 0;
}
